#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define NUM 1
#define SYM 2
#define FUN 3
#define NAV 4
#define MSE 5
#define MED 6

&lt {
  tapping-term-ms = <300>;
  quick_tap_ms = <200>;
  flavor = "hold-preferred";
};

/ {
  chosen {
    zmk,matrix_transform = &skeletyl_transform;
  };

  behaviors {
    hm: homerow_mods {
      compatible = "zmk,behavior-hold-tap";
      label = "HOMEROW_MODS";
      #binding-cells = <2>;
      tapping-term-ms = <160>;
      quick_tap_ms = <0>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
  };

  keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
	&kp Q      &kp W      &kp F       &kp P        &kp B          &kp J &kp L       &kp U       &kp Y      &kp SQT
	&hm LGUI A &hm LALT R &hm LCTRL S &hm LSHFT T  &kp G          &kp M &hm RSHFT N &hm RCTRL E &hm LALT I &hm RGUI O
	&kp Z      &kp X      &kp C       &kp D        &kp V          &kp K &kp H       &kp COMMA   &kp DOT    &kp FSLH
	           &lt NAV TAB   &lt NUM SPACE   &lt FUN RET          &lt MED ESC  &lt MSE BSPC  &lt SYM DEL
            >;
        };
        num_layer {
            bindings = <
	&kp TILDE        &kp N7     &kp N8     &kp N9     &kp COMMA        &trans     &trans     &trans    &trans   &reset
	&kp NON_US_HASH  &kp N4     &kp N5     &kp N6     &kp N0           &trans     &kp RSHFT  &kp RCTRL &kp LALT &kp RGUI
	&kp PRCNT        &kp N1     &kp N2     &kp N3     &kp DOT          &trans     &trans     &trans    &trans   &trans
	                            &trans     &trans     &trans           &trans     &trans     &trans
            >;
        };
        sym_layer {
            bindings = <
	&trans     &trans     &trans     &trans     &trans                 &kp GRV    &kp LBRC          &kp AMPS   &kp RBRC   &kp DQT
	&kp LGUI   &kp LALT   &kp LCTRL  &kp LSHFT  &trans                 &kp PIPE   &kp LPAR          &kp AT     &kp RPAR   &kp COLON
	&trans     &trans     &trans     &trans     &trans                 &kp DLLR   &kp NON_US_HASH   &kp HASH   &kp EXCL   &kp QMARK
	                      &kp BSLH   &trans     &trans                 &trans     &trans     &trans
            >;
        };
        fun_layer {
            bindings = <
	&kp F12    &kp F7     &kp F8     &kp F9     &trans            &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
	&kp F11    &kp F4     &kp F5     &kp F6     &kp CAPS          &trans     &kp RSHFT  &kp RCTRL  &kp LALT   &kp RGUI
	&kp F10    &kp F1     &kp F2     &kp F3     &trans            &trans     &trans     &trans     &trans     &trans
	                      &trans     &trans     &trans            &kp K_LOCK &trans     &bt BT_CLR
            >;
        };
        nav_layer {
            bindings = <
	&reset     &kp END    &kp UP     &kp HOME    &kp PG_UP         &trans     &trans     &trans     &trans     &trans
	&kp K_APP  &kp LEFT   &kp DOWN   &kp RIGHT   &kp PG_DN         &trans     &kp RSHFT  &kp RCTRL  &kp LALT   &kp RGUI
	&kp K_UNDO &kp K_CUT  &kp K_COPY &kp K_PASTE &kp K_AGAIN       &trans     &trans     &trans     &trans     &trans
	                      &trans     &trans      &trans            &trans     &trans     &trans
            >;
        };
        mse_layer {
            bindings = <
	&trans     &trans     &trans     &trans      &trans            &kp PLUS   &kp LBKT   &kp STAR   &kp RBKT   &kp CARET
	&kp LGUI   &kp LALT   &kp LCTRL  &kp LSHFT   &trans            &kp UNDER  &kp LPAR   &kp EQUAL  &kp RBAR   &kp SEMI
	&trans     &trans     &trans     &trans      &trans            &kp MINUS  &kp LT     &kp FSLH   &kp GT     &kp BSLH
	                      &trans     &trans      &trans            &trans     &trans     &trans
            >;
        };
        med_layer {
            bindings = <
	&trans     &trans     &trans     &trans     &trans                  &trans &trans     &trans       &trans       &trans
	&kp LGUI   &kp LALT   &kp LCTRL  &kp LSHFT  &trans                  &trans &kp K_PREV &kp K_VOL_DN &kp K_VOL_UP &kp K_NEXT
	&trans     &trans     &trans     &trans     &trans                  &trans &trans     &trans       &trans       &trans
	                      &trans     &trans     &trans                  &trans         &trans      &trans
            >;
        };
    };
};
